:root {
  --highlight-color: #4287d2;
  --bg-color: #e0f4fc;
}

body {
  padding: 2rem;
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

p {
  padding: 1rem;
  margin: 0;
  text-align: center;
  max-width: 40rem;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.font-italic {
  font-style: italic;
}

.profile-img {
  width: 15rem;
  border-radius: 3rem;
}

.chart-container {
  width: 25rem;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.cube-iframe {
  border: none;
}

.blue-btn {
  background-color: var(--highlight-color);
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--highlight-color);
  padding: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}
