body {
  padding: 2rem;
  background-color: #eee;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.my-face {
  width: 10rem;
  border-radius: 5rem;
}

.about-me {
  font-size: 1.2rem;
}

.card-image {
  width: 15rem;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.icon-image {
  width: 3rem;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.icon-image:hover,
.card-image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cursor-pointer {
  cursor: pointer;
}

.keanu-zone {
  position: fixed;
  left: 1rem;
  top: 1rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.keanu-zone:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#keanu {
  position: absolute;
  top: 0;
  left: 0;
}

.keanu-div {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}

iframe {
  border: none;
}

.vela-iframe {
  width: 100%;
  height: 25rem;
}

figcaption {
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

figure img:hover ~ figcaption {
  opacity: 0;
}

figure img.insistent:hover {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: evenBigger;
  animation-name: evenBigger;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes evenBigger {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes evenBigger {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
